<div class="container pt-4">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card text-center">
        <div class="card-body">
          <h3>
            {{ titulo }}
            <div *ngIf="loading" class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </h3>
          <span *ngIf="submit && crearUsuario.invalid" class="badge rounded-pill bg-danger">*TODOS LOS CAMPOS SON
            OBLIGATORIOS*</span>
          <form  autocomplete="off" class="mt-4 row g-3" [formGroup]="crearUsuario" (ngSubmit)="agregarEditarUsuario()">
            <div class="form-group" fxLayoutAlign="space-between" fxLayout="row wrap">
            <mat-form-field appearance="outline">
              <mat-label>Número de Identificación</mat-label>
              <input matInput formControlName="identificacion" />
              <mat-hint>Ingrese el número de documento, actual:{{crearUsuario.controls.identificacion.value.length}}</mat-hint>
              <mat-error>La identificación es obligatoria
              </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Teléfono contacto</mat-label>
            <input matInput formControlName="telefono" />
            <mat-hint>Ingrese el teléfono (fijo o celular), actual:{{crearUsuario.controls.telefono.value.length}}</mat-hint>
            <mat-error>El teléfono es obligatorio </mat-error>
        </mat-form-field>
            </div>
     
            <div class="form-group mt-2" fxLayoutAlign="space-between" fxLayout="row wrap">
              <mat-form-field appearance="outline">
                  <mat-label>Primer Nombre</mat-label>
                  <input matInput formControlName="nombre1" />
                  <mat-hint>Ingrese el primer nombre</mat-hint>
                  <mat-error>El nombre es obligatorio</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Segundo Nombre</mat-label>
                  <input matInput  formControlName="nombre2" />
                  <mat-hint>Ingrese el segundo nombre</mat-hint>
                  </mat-form-field>
          </div>
          <div class="form-group mt-2" fxLayoutAlign="space-between" fxLayout="row wrap">
            <mat-form-field appearance="outline">
                <mat-label>Primer Apellido</mat-label>
                <input matInput formControlName="apellido1" />
                <mat-hint>Ingrese el primer apellido</mat-hint>
                <mat-error>El apellido es obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Segundo Apellido</mat-label>
                <input matInput  formControlName="apellido2" />
                <mat-hint>Ingrese el segundo apellido</mat-hint>
                </mat-form-field>
        </div>
        <div class="form-group mt-2" fxLayoutAlign="space-between" fxLayout="row wrap">
        <mat-form-field appearance="outline" class="select-group">
          <mat-label>Facultad</mat-label>
          <mat-select formControlName="facultad">
              <mat-option value="Ingeniería">
                  Ingeniería
              </mat-option>
          </mat-select>
          <mat-hint>Seleccione la facultad</mat-hint>
          <mat-error>Campo obligatorio</mat-error>
      </mat-form-field>
         <mat-form-field appearance="outline" class="select-group">
          <mat-label>Facultad</mat-label>
          <mat-select formControlName="proyectocurricular">
            <mat-option value="Ingeniería de Sistemas">Ingeniería de Sistemas</mat-option>
            <mat-option value="Ingeniería Industrital">Ingeniería Industrital</mat-option>
            <mat-option value="Ingeniería Catastral">Ingeniería Catastral</mat-option>
            <mat-option value="Ingeniería Eléctrica"> Ingeniería Eléctrica</mat-option>
            <mat-option value="Ingeniería Electrónica">Ingeniería Electrónica</mat-option>
          </mat-select>
          <mat-hint>Seleccione la facultad</mat-hint>
          <mat-error>Campo obligatorio</mat-error>
      </mat-form-field>
        </div>
        <div class="form-group mt-2" fxLayoutAlign="space-between" fxLayout="row wrap">
          <mat-form-field appearance="outline">
            <mat-label>Sede</mat-label>
            <input matInput formControlName="sede" />
            <mat-hint>Ingrese la sede</mat-hint>
            <mat-error>La sede es obligatoria
            </mat-error>
        </mat-form-field>
        </div>

   


            <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-3">
              <button type="text" class="btn btn-primary" routerLink="/listarUsuarios">
                Volver
              </button>
              <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>