<div class="card text-center">
  <span class="h3">Listado de Especialidades</span>
           <h5 *ngIf="tipocitas.length == 0" style="margin-top: 30px">
          <h2>Cargando</h2>
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <p> Espere por favor</p>
        </h5>
      
  
  <div *ngIf="tipocitas.length > 0" ><button class="m-auto" mat-button routerLink="/crearTipoCitas" [ngStyle]="{color: 'var(--azul-claro)'}">
    <mat-icon>add</mat-icon> Agregar Especialidad
  </button>
  <button class="m-auto" mat-button routerLink="/home" [ngStyle]="{color: 'var(--azul-claro)'}">
    <mat-icon>keyboard_backspace</mat-icon> Volver
  </button>
  </div>
  </div>
  <table *ngIf="tipocitas.length > 0"  mat-table [dataSource]="datasource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="nombre">
    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
      Nombre
    </th>
    <td mat-cell *matCellDef="let tipocitas">{{tipocitas.nombre}}</td>
  </ng-container>
  <ng-container matColumnDef="facultad">
    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
      Facultad
    </th>
    <td mat-cell *matCellDef="let tipocitas"> {{tipocitas.facultad}} </td>
  </ng-container>
  <ng-container matColumnDef="descripcion">
    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
      Descripción
    </th>
    <td mat-cell *matCellDef="let tipocitas">
      {{tipocitas.descripcion}}
    </td>
  </ng-container>
   <!-- elementos necesarios para el mat-table de angular material-->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

           