<div class="container pt-4">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card text-center">
        <div class="card-body">
          <h3>
            {{ titulo }}
            <div *ngIf="loading" class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </h3>
          <span *ngIf="submit && crearEmpleado.invalid" class="badge rounded-pill bg-danger">**DEBE LLENAR TODOS LOS
            CAMPOS**</span>
            <form autocomplete="off" class="mt-4 row g-3" [formGroup]="crearEmpleado" (ngSubmit)="agregarEditarEmpleado()">
              <div class="form-group mt-1" fxLayoutAlign="space-between" fxLayout="row wrap">
                <mat-form-field appearance="outline">
                  <mat-label>Número de Identificación</mat-label>
                  <input matInput formControlName="identificacion" />
                  <mat-hint>Ingrese el número de documento, actual:{{crearEmpleado.controls.identificacion.value.length}}
                  </mat-hint>
                  <mat-error>La identificación es obligatoria
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Teléfono contacto</mat-label>
                  <input matInput formControlName="telefono" />
                  <mat-hint>Ingrese el teléfono (fijo o celular), actual:{{crearEmpleado.controls.telefono.value.length}}
                  </mat-hint>
                  <mat-error>El teléfono es obligatorio </mat-error>
                </mat-form-field>
              </div>
  
              <div class="form-group mt-1" fxLayoutAlign="space-between" fxLayout="row wrap">
                <mat-form-field appearance="outline">
                  <mat-label>Primer Nombre</mat-label>
                  <input matInput formControlName="nombre1" />
                  <mat-hint>Ingrese el primer nombre</mat-hint>
                  <mat-error>El nombre es obligatorio</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Segundo Nombre</mat-label>
                  <input matInput formControlName="nombre2" />
                  <mat-hint>Ingrese el segundo nombre</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group mt-1" fxLayoutAlign="space-between" fxLayout="row wrap">
                <mat-form-field appearance="outline">
                  <mat-label>Primer Apellido</mat-label>
                  <input matInput formControlName="apellido1" />
                  <mat-hint>Ingrese el primer apellido</mat-hint>
                  <mat-error>El apellido es obligatorio</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Segundo Apellido</mat-label>
                  <input matInput formControlName="apellido2" />
                  <mat-hint>Ingrese el segundo apellido</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group mt-1" fxLayoutAlign="space-between" fxLayout="row wrap">
                <mat-form-field appearance="outline">
                  <mat-label>Especialidad</mat-label>
                  <input matInput formControlName="especialidad" />
                  <mat-hint>Ingrese la especialidad</mat-hint>
                  <mat-error>Especialidad obligatoria</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Sede</mat-label>
                  <input matInput formControlName="sede" />
                  <mat-hint>Ingrese la sede</mat-hint>
                  <mat-error>Sede Obligatoria</mat-error>
                </mat-form-field>
              </div>
             
              <div class="form-group mt-1" fxLayoutAlign="space-between" fxLayout="row wrap">
                <mat-card-actions class="form-action mt-2" fxLayoutAlign="center" fxLayout.lt-sm="column">
                  <button class="card-button m-2" type="button" mat-raised-button routerLink="/listarEmpleados">
                    <mat-icon>arrow_back</mat-icon>Regresar
                  </button>
                  <button class="card-button m-2" type="submit" mat-raised-button [disabled]="!crearEmpleado.valid">
                    <mat-icon>save</mat-icon> Guardar
                  </button>
                  <mat-spinner *ngIf="crearEmpleado.invalid"></mat-spinner>
                </mat-card-actions>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>