<div class="container pt-4">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card text-center">
        <div class="card-body">
          <h3>
            {{ titulo }}
            <div *ngIf="loading" class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </h3>
          <span
            *ngIf="submit && crearTipoCita.invalid"
            class="badge rounded-pill bg-danger"
            >*TODOS LOS CAMPOS SON OBLIGATORIOS*</span
          >
          <form
            class="mt-4 row g-3"
            [formGroup]="crearTipoCita"
            (ngSubmit)="agregarTipoCita()"
          >
            <div class="col-md-6 mt-2">
              <label class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="nombre"
              />
            </div>
            <div class="col-md-6 mt-2">
              <label class="form-label">Facultad</label>
              <select formControlName="facultad" class="form-select">
                <option value="Artes">Artes</option>
                <option value="Cliencias y Educación">
                  Ciencias y educación
                </option>
                <option value="Ingeniería">Ingeniería</option>
                <option value="Medio Ambiente">Medio Ambiente</option>
                <option value="Tecnológica">Tecnológica</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Descripción</label>
              <textarea
                class="form-control"
                formControlName="descripcion"
                rows="3"
              ></textarea>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-3">
              <button
                type="text"
                class="btn btn-primary"
                routerLink="/listarTipoCitas"
              >
                Volver
              </button>
              <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
