<div class="container pt-4">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card text-center">
        <div class="card-body">
          <h3>
            {{ titulo }}
            <div *ngIf="loading" class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </h3>
          <span *ngIf="submit && crearTipoCita.invalid" class="badge rounded-pill bg-danger">**DEBE LLENAR TODOS LOS
            CAMPOS**</span>
            <form autocomplete="off" class="mt-4 row g-3" [formGroup]="crearTipoCita" (ngSubmit)="agregarEditarTipoCita()">
              <div class="form-group mt-1" fxLayoutAlign="space-between" fxLayout="row wrap">
              <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre" />
                <mat-hint>Nombre de la especialidad</mat-hint>
                <mat-error>La facultad es obligatoria</mat-error>
            </mat-form-field>
                <mat-form-field appearance="outline">
                <mat-label>Facultad</mat-label>
                <input matInput formControlName="facultad" />
                <mat-error>La facultad es obligatoria</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group" fxLayoutAlign="center">
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Descripción</mat-label>
                <textarea matInput 
                    formControlName="descripcion"></textarea>
                <mat-icon matPrefix>message</mat-icon>
                <mat-error>Ingrese una descripción válida</mat-error>
                               </mat-form-field>
          </div>
          <mat-card-actions class="form-action mt-4" fxLayoutAlign="center" fxLayout.lt-sm="column">
            <button class="card-button m-2" type="button" mat-raised-button routerLink="/listarTipoCitas">
              <mat-icon>arrow_back</mat-icon>Regresar
            </button>
            <button class="card-button m-2" type="submit" mat-raised-button [disabled]="!crearTipoCita.valid">
              <mat-icon>save</mat-icon> Guardar 
            </button>
            <mat-spinner *ngIf="crearTipoCita.invalid"></mat-spinner>
          </mat-card-actions>
  
  

               
       
         

        </form>
      </div>
    </div>
  </div>
</div>
</div>