<div clas="container mt-4">
    <div class="card text-center" >
      <div class="card-body">
              <h3>Listado de Especialistas</h3>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" type="button" routerLink="/crearEmpleados">Agregar</button>
              </div>
              <h5 *ngIf="empleados.length==0" style="margin-top: 30px;" >No hay datos para mostrar</h5>
                <table *ngIf="empleados.length > -1" class= "table table-bordered border-primary mt-5">
                  <thead>
                    <tr>
                      <th>Identificación</th>
                      <th>Nombre</th>
                      <th>Apellidos</th>
                      <th>Especialidad</th>
                      <th>Sede</th>
                      <th>Teléfono</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let empleado of empleados">
                      <td>{{empleado.identificacion}} </td>
                      <td>{{empleado.nombre}} {{empleado.nombre2}} </td>
                      <td>{{empleado.apellido1}} {{empleado.apellido2}} </td>
                      <td>{{empleado.especialidad}} </td>
                      <td>{{empleado.sede}} </td>
                      <td>{{empleado.telefono}} </td>
                      <td>
                          <i class="fas fa-user-edit fa-lg text-info mr-5" [routerLink]="['/editarEmpleados',empleado.id]"></i>
                          <i (click)="eliminarEmpleado(empleado.id)"class="fas fa-user-minus fa-lg text-danger md-2"></i>
                      </td>
                    </tr>
                                
                   
                  </tbody>
                </table>
                
                       </div>
      </div>
    </div>