<button class="m-auto" mat-button routerLink="/crearCitas" [ngStyle]="{color: 'var(--azul-claro)'}">
  <mat-icon>add</mat-icon> Asignar nueva cita
</button>
<div fxLayout="column">
  <div class="px-1 px-sm-5 list-button" fxLayoutAlign="space-between">

  </div>

  <table mat-table [dataSource]="datasource" matSort class="mat-elevation-z8">>
      <ng-container matColumnDef="nombre">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
        Usuario
      </th>
      <td mat-cell *matCellDef="let cita">{{ cita.nombre }}</td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
        Fecha
      </th>
      <td mat-cell *matCellDef="let cita"> {{ cita.fecha*1000 | date: "dd-MM" }} </td>
    </ng-container>
    <ng-container matColumnDef="hora">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
        Hora
      </th>
      <td mat-cell *matCellDef="let cita">
        {{cita.hora}}
      </td>
    </ng-container>
    <ng-container matColumnDef="facultad">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
        Facultad
      </th>
      <td mat-cell *matCellDef="let cita">
        {{cita.facultad}}
      </td>
    </ng-container>
    <ng-container matColumnDef="tipocita">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
        Tipo de cita
      </th>
      <td mat-cell *matCellDef="let cita"> {{cita.tipocita}} </td>
    </ng-container>
    <ng-container matColumnDef="especialista">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
        Especialista
      </th>
      <td mat-cell *matCellDef="let cita">
        {{cita.especialista}}
      </td>
    </ng-container>

    <!-- elementos necesarios para el mat-table de angular material-->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>