/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  margin: 0;
  max-width: 100vw;
  font-family: "Roboto", "Open Sans", sans-serif;
}

mat-card,
mat-tab-group {
  max-width: 100vw;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 200vh;
}

mat-sidenav.gt-sm {
  width: 50vw;
}
mat-sidenav.lt-sm {
  width: 80vw;
}

app-toolbar {
  position: fixed;
  top: 50;
  width: 100%;
  z-index: 2;
}

tr.mat-row:hover {
  background-color: #eee;
}

/** Estilos para formularios, para aplicarse deben tener el class form-group en la etiqueta <div> que contiene a los mat-form-fields */
p.invalid-form,
div.invalid-form {
  text-align: center !important;
  color: var(--azul-claro2);
  font-weight: 400;
}

.form-group {
  width: 100%;
}

.form-group mat-form-field {
  padding: 10px 5px;
  min-width: 47%;
}

.form-action button {
  min-width: 30%;
}

@media (max-width: 600px) {
  .form-group mat-form-field {
    width: 100%;
  }
}
.card-button {
  padding: 8px 25px !important;
  background-color: var(--azul-claro);
  color: #fff;
  font-weight: 180;
  font-size: 1.2rem;
  border: 1px solid var(--azul-claro);
}

.card-button:hover {
  background-color: var(--azul-claro2);
  font-weight: 400;
  color:#fff;
}

